.btn{
    height:70px;
    width:70px;
    font-weight:bold;
  }
  .btn1{
     height:70px;
    width:70px;
    font-weight:bold;
  }
  .box{
    margin-top:3px;
    background:#40bfc1;
    font-weight:bold;
    display:flex;
    justify-content:center;
    
  }